<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Articles</h1>
<form method="GET">
    <label>Category:</label>
    <input type="number" name="category">
    <input type="submit" value="Filter">
</form>

<ul>
{{range .Articles}}
<li>
    <a href="/articles/detail?id={{.ID}}">{{.Title}}</a>
    {{if eq .UserID $.CurrentUserID}} 
        <a href="/articles/edit?id={{.ID}}">Edit</a>
        <a href="/articles/delete?id={{.ID}}">Delete</a>
    {{end}}
    {{if eq $.Admin 2}}
        <a href="/articles/delete?id={{.ID}}">Delete</a>
    {{end}}
</li>
{{end}}
</ul>
</body>
</html>